{{ kint() }}
<div class="epsacrop-global">
    <div class="epsacrop-image-crop">
        <img id="epsacrop-target"/>
    </div>
    <div class="epsacrop-presets-menu">
        <ul class="epsacrop-presets-menu-ul">
            {% for preset in presets %}
                <li class="epsacrop-presets-menu-li">
                    {{ preset }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="display:none;"><textarea id="epsacrop-coords-data">{{ data }}</textarea></div>
    <br style="clear:both;"/>
</div>
